<?xml version="1.0" encoding="UTF-8"?>
<calendar>
    <categories>
        <category>
            <name>{lang id="categories.none"}</name>            
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.calls"}</name>
            <color>event_orange</color>
        </category>
        <category>
            <name>{lang id="categories.meeting"}</name>
            <color>vent_blue</color>
        </category>
        <category>
            <name>{lang id="categories.favorite"}</name>
            <color>event_brown</color>
        </category>
        <category>
            <name>{lang id="categories.public_holiday"}</name>
            <color>event_light_orange</color>
        </category>
        <category>
            <name>{lang id="categories.vacation"}</name>
            <color>event_light_brown</color>
        </category>
        <category>
            <name>{lang id="categories.question"}</name>
            <color>event_light_green</color>
        </category>
        <category>
            <name>{lang id="categories.birthday"}</name>
            <color>event_light_blue</color>
        </category>
        <category>
            <name>{lang id="categories.business"}</name>
            <color>event_grey</color>
        </category>
        <category>
            <name>{lang id="categories.presents"}</name>
            <color>event_red</color>
        </category>
        <category>
            <name>{lang id="categories.ideas"}</name>
            <color>event_dark_blue</color>
        </category>
        <category>
            <name>{lang id="categories.jubilee"}</name>
            <color>event_green</color>
        </category>
        <category>
            <name>{lang id="categories.client"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.business_competition"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.customer"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.suppliers"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.to_pursue"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.individually"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.projects"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.travel"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.status"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.holiday"}</name>
            <color>event_default_color</color>
        </category>
        <category>
            <name>{lang id="categories.miscellaneous"}</name>
            <color>event_default_color</color>
        </category>
    </categories>
    <frequency>
        <freq>NONE</freq>
        <freq>DAILY</freq>
        <freq>WEEKLY</freq>
        <freq>MONTHLY</freq>
        <freq>YEARLY</freq>
    </frequency>
    <days>
        <day>
            <name>{lang id="day_names.sunday"}</name>
            <short>{lang id="short_day_names.sunday"}</short>
            <default>SU</default>
        </day>
        <day>
            <name>{lang id="day_names.monday"}</name>
            <short>{lang id="short_day_names.monday"}</short>
            <default>MO</default>
        </day>
        <day>
            <name>{lang id="day_names.tuesday"}</name>
            <short>{lang id="short_day_names.tuesday"}</short>
            <default>TU</default>
        </day>
        <day>
            <name>{lang id="day_names.wednesday"}</name>
            <short>{lang id="short_day_names.wednesday"}</short>
            <default>WE</default>
        </day>
        <day>
            <name>{lang id="day_names.thursday"}</name>
            <short>{lang id="short_day_names.thursday"}</short>
            <default>TH</default>
        </day>
        <day>
            <name>{lang id="day_names.friday"}</name>
            <short>{lang id="short_day_names.friday"}</short>
            <default>FR</default>
        </day>
        <day>
            <name>{lang id="day_names.saturday"}</name>
            <short>{lang id="short_day_names.saturday"}</short>
            <default>SA</default>
        </day>
    </days>
    <months>
        <month>
            <number>1</number>
            <name>{lang id="month_names.january"}</name>
            <short>{lang id="short_month_names.january"}</short>
        </month>
        <month>
            <number>2</number>
            <name>{lang id="month_names.february"}</name>
            <short>{lang id="short_month_names.february"}</short>
        </month>
        <month>
            <number>3</number>
            <name>{lang id="month_names.march"}</name>
            <short>{lang id="short_month_names.march"}</short>
        </month>
        <month>
            <number>4</number>
            <name>{lang id="month_names.april"}</name>
            <short>{lang id="short_month_names.april"}</short>
        </month>
        <month>
            <number>5</number>
            <name>{lang id="month_names.may"}</name>
            <short>{lang id="short_month_names.may"}</short>
        </month>
        <month>
            <number>6</number>
            <name>{lang id="month_names.june"}</name>
            <short>{lang id="short_month_names.june"}</short>
        </month>
        <month>
            <number>7</number>
            <name>{lang id="month_names.july"}</name>
            <short>{lang id="short_month_names.july"}</short>
        </month>
        <month>
            <number>8</number>
            <name>{lang id="month_names.august"}</name>
            <short>{lang id="short_month_names.august"}</short>
        </month>
        <month>
            <number>9</number>
            <name>{lang id="month_names.september"}</name>
            <short>{lang id="short_month_names.september"}</short>
        </month>
        <month>
            <number>10</number>
            <name>{lang id="month_names.october"}</name>
            <short>{lang id="short_month_names.october"}</short>
        </month>
        <month>
            <number>11</number>
            <name>{lang id="month_names.november"}</name>
            <short>{lang id="short_month_names.november"}</short>
        </month>
        <month>
            <number>12</number>
            <name>{lang id="month_names.december"}</name>
            <short>{lang id="short_month_names.december"}</short>
        </month>
    </months>
    <repeat_month_options>
        <option>
            <name>{lang id="calendar_fields.each"}</name>
            <default></default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_first"}</name>
            <default>1</default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_second"}</name>
            <default>2</default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_third"}</name>
            <default>3</default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_fourth"}</name>
            <default>4</default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_fifth"}</name>
            <default>5</default>
        </option>
        <option>
            <name>{lang id="calendar_fields.by_last"}</name>
            <default>-1</default>
        </option>
    </repeat_month_options>
</calendar>