<USE_STRICT>true</USE_STRICT>
<READONLY>false</READONLY>
<TABLES>
	<FT>
		<PRIMARY_KEY>ftid</PRIMARY_KEY>
		<CONTENT>
			<FTID>
				<TYPE>int</TYPE>
				<REQUIRED>true</REQUIRED>
			</FTID>
			<FTVALUE>
				<TYPE>int</TYPE>
				<DEFAULT>0</DEFAULT>
			</FTVALUE>
			<ARRAY>
				<TYPE>array</TYPE>
			</ARRAY>
		</CONTENT>	
	</FT>
	<T>
		<PRIMARY_KEY>TID</PRIMARY_KEY>
		<FOREIGN_KEYS>
			<FTID>FT</FTID>
		</FOREIGN_KEYS>
		<CONTENT>
			<TID>
				<TYPE>string</TYPE>
				<LENGTH>32</LENGTH>
				<REQUIRED>true</REQUIRED>
			</TID>
			<FTVALUE>
				<TYPE>int</TYPE>
				<DEFAULT>0</DEFAULT>
			</FTVALUE>
			<TA>
				<TYPE>array</TYPE>
			</TA>
			<TB>
				<TYPE>bool</TYPE>
			</TB>
			<TF>
				<TYPE>float</TYPE>
				<UNSIGNED>true</UNSIGNED>
			</TF>
			<TI>
				<TYPE>int</TYPE>
				<LENGTH>4</LENGTH>
				<ZEROFILL>true</ZEROFILL>
			</TI>
			<FTID>
				<TYPE>select</TYPE>
				<REQUIRED>true</REQUIRED>
				<DEFAULT>
					<FTID>FTID</FTID>
				</DEFAULT>
			</FTID>
		</CONTENT>
	</T>
	<I>
		<PRIMARY_KEY>IID</PRIMARY_KEY>
		<FOREIGN_KEYS>
			<IID>T</IID>
		</FOREIGN_KEYS>
		<CONTENT>
			<IID>
				<TYPE>string</TYPE>
				<LENGTH>32</LENGTH>
				<REQUIRED>true</REQUIRED>
			</IID>
			<TA>
				<TYPE>array</TYPE>
			</TA>
		</CONTENT>
	</I>
</TABLES>