<USE_STRICT>true</USE_STRICT>
<READONLY>false</READONLY>
<TABLES>
	<FT>
		<PRIMARY_KEY>ftid</PRIMARY_KEY>
		<CONTENT>
			<FTID>
				<TYPE>int</TYPE>
				<REQUIRED>true</REQUIRED>
			</FTID>
			<FTVALUE>
				<TYPE>int</TYPE>
				<DEFAULT>0</DEFAULT>
			</FTVALUE>
		</CONTENT>
	</FT>
	<T>
		<PRIMARY_KEY>tid</PRIMARY_KEY>
		<FOREIGN_KEYS>
			<FTID>ft</FTID>
		</FOREIGN_KEYS>
		<PROFILE_KEY>profile_id</PROFILE_KEY>
		<CONTENT>
			<TID>
				<TYPE>string</TYPE>
				<LENGTH>32</LENGTH>
				<REQUIRED>true</REQUIRED>
			</TID>
			<TVALUE>
				<TYPE>int</TYPE>
				<DEFAULT>0</DEFAULT>
			</TVALUE>
			<TA>
				<TYPE>array</TYPE>
			</TA>
			<TB>
				<TYPE>bool</TYPE>
			</TB>
			<TF>
				<TYPE>float</TYPE>
				<UNSIGNED>true</UNSIGNED>
			</TF>
			<TI>
				<TYPE>int</TYPE>
				<ZEROFILL>true</ZEROFILL>
				<LENGTH>4</LENGTH>
			</TI>
			<FTID>
				<TYPE>select</TYPE>
				<REQUIRED>true</REQUIRED>
				<DEFAULT>
					<FTID>ftid</FTID>
				</DEFAULT>
			</FTID>
			<PROFILE_ID>
				<TYPE>string</TYPE>
				<LENGTH>128</LENGTH>
				<REQUIRED>AUTO</REQUIRED>
			</PROFILE_ID>
		</CONTENT>
	</T>
	<I>
		<PRIMARY_KEY>iid</PRIMARY_KEY>
		<FOREIGN_KEYS>
			<IID>t</IID>
		</FOREIGN_KEYS>
		<CONTENT>
			<IID>
				<TYPE>string</TYPE>
				<LENGTH>32</LENGTH>
				<REQUIRED>true</REQUIRED>
			</IID>
			<TA>
				<TYPE>array</TYPE>
			</TA>
		</CONTENT>
	</I>
</TABLES>
