<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Installation Wizard</title>
    <link rel="stylesheet" type="text/css" href="data/index.css">
    <script type="text/javascript" src="data/index.js"></script>
</head>


<body>

        <h1>{language install_complete}</h1>

        <p>
            {language install_complete_info}
        </p>

        <p>
            <label><input type="checkbox" id="run_application"> {language run_application}</label>
        </p>

        <p>
            <button onclick="cleanup('run_application')">{language finish}</button>
        </p>

</body>

</html>