<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Installation Wizard</title>
    <link rel="stylesheet" type="text/css" href="data/index.css">
    <script type="text/javascript" src="data/index.js"></script>
</head>


<body>

        <h1>{language license}</h1>

        <p>{language license_info}</p>

        <h2>{language proceed}</h2>

        <p>{language license_proceed}</p>

        <div align="center">
            <p><button onclick="license_accept('page_1_2')">{language license_accept}</button></p>
            <p><button onclick="license_reject()">{language license_reject}</button></p>
        </div>

</body>

</html>
