<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Installation Wizard</title>
    <link rel="stylesheet" type="text/css" href="data/index.css">
    <script type="text/javascript" src="data/index.js"></script>
</head>


<body>

<div id="navigation" title="Navigation">

    <span style="margin-right: 20px; vertical-align: 4px;">
        {language navigation}:
    </span>

    <button onclick="previous()" id="previous">
        {language previous}
    </button>

    <button onclick="next()" id="next">
        {language next}
    </button>

</div>

</body>

</html>