@import url("admin_base.css");

#index_display
{
    min-width: 640px;
}
* html #index_display
{
    width: 700px;
}

#table_configmenu
{
    padding: 1em;
    /*background: #f0f0f0 url('configuration_bgd.gif') repeat-x;
    border: 1px solid #aaa;*/
    font-size: 12px;
    text-align: left;
    font-family: "Arial", "Helvetica", sans-serif;
}
#table_configmenu li
{
    list-style-type: none;
}
#config_update
{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: #555;
    border-top: 1px solid #909090;
}
#table_config_profile,
#table_configmenu h1
{
    text-align: center;
}
#table_config_profile .profile_default
{
    background-color: #fff;
    color: #000;
}
#table_configmenu .config_title #config_refresh_pluginlist
{
    margin-top: 5px;
    float: right;
}
#table_configmenu img
{
    border: 0px none;
}
#table_config_profile img,
#table_configmenu .config_title img,
#config_pass img
{
    margin: 0 5px -5px 0;
}
#table_configmenu input
{
    margin-top: 2px;
}
#table_configmenu #table_config_profile form
{
    display: inline;
    margin-left: 10px;
}
#table_configmenu .config_title
{
    border-bottom: 2px solid #909090;
    color: #333;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: left;
}
#config_plugins
{
    width: 100%;
}
#config_plugins > ul
{
    margin-top: 0;
}
#config_plugins li
{
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    page-break-inside: avoid;
    break-inside: avoid;
}
#config_plugins li ul,
#config_plugins li ul li
{
    margin: 0px;
    margin-left: 35px;
    padding-bottom: 2px;
    border-bottom: 0px none;
    font-size: 14px;
}
/* setup links for active plug-ins */
#config_plugins a
{
    color: inherit;
}
#config_plugins .selected_option > a,
#config_plugins .default_selected_option > a,
#config_plugins .unselected_option > a
{
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
#config_plugins .selected_option:hover > a,
#config_plugins .default_selected_option:hover > a,
#config_plugins .unselected_option:hover > a
{
    height: 50px;
    overflow: visible;
    margin-bottom: 0;
}
#config_plugins .config_plugin_image
{
    color: #000;
}
#config_plugins a.plugin_setup
{
    text-decoration: underline;
}
#config_plugins .title
{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    vertical-align: top;
    border-bottom: 1px solid #999;
}
#config_plugins .unselected_option
{
    background-image: url(plugin_blank.png);
    background-repeat: no-repeat;
}
#config_plugins .unselected_option .config_plugin_image
{
    visibility: hidden;
}
#config_plugins .unselected_option:hover .config_plugin_image
{
    visibility: visible;
    opacity: 0.5;
    filter: alpha(opacity=20);
}
#config_plugins .unselected_option .title
{
    border-bottom-color: #aac;
}
#config_plugins .unselected_option > a,
#config_plugins .default_selected_option > a,
#config_plugins .selected_option > a,
#config_plugins .unselected_option > .title,
#config_plugins .default_selected_option > .title,
#config_plugins .selected_option > .title
{
    display: inline-block;
}
.default_selected_option
{
    color: #909090;
    font-weight: bold;
}
.default_selected_option .title
{
    font-style: italic;
}
.selected_option
{
    color: #555;
    font-weight: bold;
}
.unselected_option
{
    color: #aaa;
    font-weight: normal;
}
.default_selected_option,
.selected_option,
.unselected_option
{
    padding: 1em;
    opacity: .7;
    filter: grayscale(.6);
    transition: opacity .5s, filter .5s, background .5s;
}
.default_selected_option:hover,
.selected_option:hover,
.unselected_option:hover
{
    background: #ddd;
    border-radius: 1em;
    box-shadow: 0 0 1em #ddd;
    filter: grayscale(0);
    opacity: 1;
}



.optionsetting
{
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 175%;
}
.optionhead
{
    display: block;
    cursor: pointer;
}
.config_menu_open, .config_menu_closed
{
    display: block;
    overflow: hidden;
    float: right;
    height: 21px;
    width: 21px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: right top;
}
div.config_menu
{
}
div.config_menu .optionbody
{
    display: none;
}
div.config_menu:hover .optionbody
{
    display: block;
}
.config_menu_open
{
    background-image: url("icon4.gif");
}
.config_menu_closed
{
    background-image: url("icon3.gif");
}
ol
{
    list-style-image: url("array_list_item.gif");
}
ul.small_bullet
{
    list-style-image: url('btn-xs.gif');
    margin-top: 0;
    margin-bottom: 0;
}
div.optionsetting div.plugin_setup_button
{
    float: right;
    margin: 10px;
    display: block;
}
#config_pass .floating_menu
{
    width: 400px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    display: none;
}
#config_pass .floating_menu .header
{
    height: 20px;
}
.progressbar
{
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-image: url('progressbar.png');
    background-position: 0px 0px;
}
#config_pass .floating_menu .help
{
    padding: 5px;
}

@media only screen and (min-width: 1000px)
{
    #config_plugins
    {
        column-count: 2;
        max-height: 90%;
    }
}

@media only screen and (min-width: 1800px)
{
    #config_plugins
    {
        column-count: 3;
    }
}

@media only screen and (min-width: 2500px)
{
    #config_plugins
    {
        column-count: 4;
    }
}