body#preview
{
    background: #fff;
    margin: 2px;
}
a
{
    color: #555;
    text-decoration: none;
}
a:hover
{
    color: #000;
    text-shadow: 0 0 4px #aaa;
}
hr
{
    background-color: #6495ed;
    color: #6495ed;
    height: 2pt;
    width: 98%;
}
.bglightgray
{
    background: #eeeef0;
}
.bggray
{
    background: #888;
}
.bgblue
{
    background: #4863A0;
}
.bgwhite
{
    background: #f8f8fa;
}
.bgsilver
{
    background: #ddd;
}
.bglightblue
{
    background: #edeef8;
}
.bglightbrown
{
    background: #f0dfcf;
}
h1, h2, h3
{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}
h1
{
    font-size: 30px;
    color: #000;
}
h2, .header
{
    font-size: 24px;
    color: #f0f0f0;
    background: url('highlight2.jpg') repeat-x;
    background-color: #414649;
}
h3
{
    font-size: 16pt;
    color: #038;
    background-color: #d0e0e8;
}
p
{
    font-size: 11pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000;
}
img.arrow
{
    background-image: url("arrow.gif");
    height: 15px;
    width: 36px;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
}
fieldset
{
    border: 0px none transparent;
    background: #ddd;
    border-radius: 4px;
}
fieldset > legend
{
    /* Safari and Chrome */
    margin-right: auto;
    background: #555;
    color: #fff;
    font-size: 1.2em;
    border-radius: 2px;
}
#index_body .header
{
    font-size: 18pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.label
{
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}
.description
{
    font-size: 10pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
}
.comment
{
    color: #888;
    font-size: 10pt;
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}
/* Embedded Tags */
.embtag_tag_emp
{
    font-size: 14pt;
    color: #4682b4;
    font-weight: bold;
    font-family: "Times New Roman", serif;
}
.embtag_tag_h
{
    font-size: 18px;
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: #4682b4;
}
.embtag_tag_h:first-letter
{
    font-weight: bold;
    font-size: 24px;
    color: #FFA500;
}
a.embtag_tag_hide, .embtag_tag_hide
{
    text-decoration: none;
    display: block;
    padding: 5px;
    border: 1px solid #555;
    background-color: #ccc;
    color: #ccc;
}
a.embtag_tag_hide:hover, .embtag_tag_hide a:hover, .embtag_tag_hide:hover
{
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
}
.embtag_tag_c
{
    color: #888;
    font-size: 10pt;
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}
.embtag_tag_b
{
    font-weight: bold;
}
.embtag_tag_i
{
    font-style: italic;
}
.embtag_tag_u
{
    text-decoration: underline;
}
.embtag_tag_small
{
    font-size: x-small;
}
.embtag_tag_big
{
    font-size: large;
}
.embtag_tag_mark
{
    background-color: #ff0;
}
.embtag_tag_color
{
    color: #000;
}
.embtag_tag_code
{
    font-family: "Courier", monospace;
    white-space: pre;
    font-size: 10px;
}
.embtag_tag_php
{
    font-family: "Courier", monospace;
    white-space: pre;
    font-size: 10px;
}
.embtag_tag_wbr
{
    font-size: 0px;
}
.yana_noscript
{
    display: inline;
}
.floating_menu
{
    background: #edf0ff url("menu_bgd.gif") repeat-y top right;
    color: #000;
    border: 1px solid #4863A0;
    padding: 2px;
}
.floating_menu .header
{
    font-weight: bold;
    text-align: center;
    padding: 2px;
    background: #5C9BC1 url("th_bgd.gif") repeat-x;
    font-size: 11px;
    color: #000;
    margin-bottom: 5px;
}
.floating_menu .help
{
    background: #A3C0D7 url("menu_bgd.gif") repeat-y top left;
    border: 1px solid #ace;
}
.applicationBarLabel
{
    display: none;
}