@import url("gui_array.css");
@import url("icons.css");
@import url("admin.css");

/* global template style definitions */
.gui_generator_form
{
    font-size: 13px;
}
.gui_generator_form .gui_generator_edit
{
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;
}
.gui_generator_form .gui_generator_config textarea
{
    width: 350px;
    height: 100px;
}
.gui_generator_radio_none,
.gui_generator_radio_true,
.gui_generator_radio_false
{
    margin-right: 10px;
}
.gui_generator_radio
{
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
}
.gui_generator_view table
{
    border: 1px solid #c0c0c0;
    -moz-border-radius: 4px;
}
.gui_generator_view  tr
{
    padding: 5px;
    margin: 0;
    background-color: #f3f3f3;
    background-image: url('td_bgd.png');
    background-repeat: repeat-x;
    color: #000;
    border-left: 1px solid #eee;
}
.gui_generator_view tr.gui_generator_odd_row
{
    background-color: #f0f0f0;
    background-image: url('td_bgd.png');
    background-repeat: repeat-x;
}
.gui_generator_view tr.gui_generator_even_row
{
    background-color: #f8f8f8;
    background-image: url('td_even_bgd.png');
    background-repeat: repeat-x;
}
.gui_generator_view_details tr:hover > *,
.gui_generator_view_seperated .gui_generator_tbody .gui_generator_tr:hover,
.gui_generator_view .gui_generator_view_list li:hover,
.gui_generator_edit tr:hover
{
    background-color: #F3F3F3;
}
.gui_generator_edit thead th:hover
{
    background-image: url('th_hover_bgd.gif');
}
.gui_generator_view_details .gui_generator_toolbar > *
{
    float: right;
    visibility: hidden;
}
.gui_generator_view_details:hover .gui_generator_toolbar > *
{
    visibility: visible;
}
.gui_generator_view_seperated
{
}
/* header / footer */
.gui_generator_footer,
.gui_generator_header
{
    font-size: 13px;
    margin: 10px;
    text-align: center;
}
/* template specific styles */
.gui_generator_view_details
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.gui_generator_view_details table
{
    width: 100%;
}
.gui_generator_view_details td
{
    padding: 2px;
    background-color: #f3f3f3;
    background-image: url('td_bgd.png');
    background-repeat: repeat-x;
    max-width: 800px;
    color: #000;
}
.gui_generator_view_details tr th
{
    width: 10%;
    padding: 2px;
    background-color: #d8d4ce;
    background-image: url('th_v_bgd.png');
    background-repeat: repeat-y;
    border-right: 1px solid #777;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    color: #000;
}
.gui_generator_view_details tr:hover th,
.gui_generator_view_details tr th:hover
{
    background-color: #e5d9c1;
    background-image: url('th_v_hover_bgd.gif');
}
/* reserve space after column label for filter and sort-controls */
.gui_generator_view_details tr th .gui_generator_description
{
    margin-right: 40px;
}
.gui_generator_edit .gui_generator_filter
{
    float: left;
}
.gui_generator_edit .gui_generator_sort,
.gui_generator_view_details .gui_generator_filter
{
    float: right;
}
.gui_generator_edit .gui_generator_description
{
    display: inline-block;
}
.gui_generator_view_details .gui_generator_readonly_textarea,
.gui_generator_view_details .gui_generator_array
{
    height: 100px;
    overflow: auto;
}
.gui_generator_array a
{
    white-space: nowrap;
}
/* work-around for IE box-model bug */
* html .gui_generator_view_details table
{
    width: 640px;
}
* html .gui_generator_view_details .gui_generator_readonly_textarea,
* html .gui_generator_view_details .gui_generator_array
{
    width: 100%;
    overflow: auto;
}
* html .gui_generator_view .gui_generator_readonly_textarea,
* html .gui_generator_view .gui_generator_array
{
    width: 200px;
    overflow: auto;
}
.gui_generator_view_seperated .gui_generator_table .gui_generator_thead .gui_generator_file_download
{
    width: auto;
    display: inline;
}
.gui_generator_edit th,
.gui_generator_view th
{
    color: #000000;
    border: 1px solid #d0d0d0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    padding: 2px;
}
.gui_generator_edit thead tr
{
    background-color: #d8d3ce;
    background-image: url('th_bgd.png');
    background-repeat: repeat-x;
}
.gui_generator_form table
{
    border: 1px solid #c0c0c0;
    -moz-border-radius: 4px;
    background: #e0e0e0;
    color: #000000;
    margin: auto;
}
.gui_generator_edit img
{
    margin: 0;
}

.gui_generator_edit tbody .gui_generator_details,
.gui_generator_edit tbody .gui_generator_delete,
.gui_generator_edit .icon_arrowup,
.gui_generator_edit .icon_arrowdown
{
    visibility: hidden;
}

.gui_generator_edit table:hover thead .gui_generator_details,
.gui_generator_edit table:hover thead .gui_generator_delete,
.gui_generator_edit table:hover .icon_filter,
.gui_generator_edit th:hover .icon_arrowup,
.gui_generator_edit th:hover .icon_arrowdown,
.gui_generator_edit tr:hover .gui_generator_details,
.gui_generator_edit tr:hover .gui_generator_delete,
.gui_generator_edit .gui_generator_table:hover .icon_filter
{
    visibility: visible;
}
.gui_generator_edit table tbody td,
.gui_generator_view table tbody td
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 1px;
    padding-top: 1px;
}
.gui_generator_edit tr,
.gui_generator_view table tbody tr
{
    text-align: center;
    vertical-align: top;
}
.gui_generator_view table thead tr th
{
    white-space: nowrap;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
.gui_generator_view_seperated .gui_generator_table
{
    border: 1px solid #c0c0c0;
    -moz-border-radius: 4px;
    background: #e0e0e0;
    color: #000000;
    margin: 5px;
}
.gui_generator_view_seperated .gui_generator_thead
{
    background-color: #d8d3ce;
    background-image: url('th_bgd.png');
    background-repeat: repeat-x;
    color: #000000;
    border: 1px solid #eee;
    font-size: 12px;
    padding-left: 5px;
    /* white-space: nowrap; */
    /* height: 30px; */
    /* overflow: hidden; */
}

.gui_generator_view_seperated .gui_generator_thead:hover
{
    background-color: #e5d9c1;
    background-image: url('th_hover_bgd.gif');
}
.gui_generator_view_seperated .gui_generator_thead .gui_generator_tr
{
    display: inline;
    border-right: 1px dashed gray;
    line-height: 200%;
}
.gui_generator_view_seperated .gui_generator_thead .gui_generator_tr:last-of-type
{
    border-right-width: 0;
}
.gui_generator_view_seperated .gui_generator_thead > a.buttonize
{
    visibility: hidden;
}
.gui_generator_view_seperated:hover .gui_generator_thead > a.buttonize
{
    visibility: visible;
}
.gui_generator_view_seperated .gui_generator_thead .gui_generator_tr_last
{
    display: inline;
    border-right: 0;
    line-height: 30px;
}
.gui_generator_view_seperated .gui_generator_thead .gui_generator_th
{
    font-weight: bold;
    padding: 0 5px 0 10px;
    display: inline;
}
.gui_generator_view_seperated .gui_generator_thead .gui_generator_td
{
    padding: 0 10px 0 5px;
    display: inline;
}
.gui_generator_view_seperated .gui_generator_tbody
{
    display: inline;
}
.gui_generator_view_seperated .gui_generator_tbody .gui_generator_tr
{
    padding: 5px;
    background-color: #f3f3f3;
    background-image: url('td_bgd.png');
    background-repeat: repeat-x;
    color: #000000;
    border: 1px solid #c0c0c0;
}
.gui_generator_edit .gui_generator_multi_entry .gui_generator_readonly_textarea
{
    height: 20px;
}
.gui_generator_view_details .gui_generator_readonly_textarea
{
    height: inherit;
}
.gui_generator_mandatory
{
    color: #aa0000;
    font-size: 12px;
}
span.gui_generator_mandatory
{
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}
.gui_generator_readonly_textarea
{
    overflow: auto;
    height: 75px;
    width: 100%;
}
.gui_generator_readonly_textarea ul, .gui_generator_textarea ul
{
    overflow: auto;
    text-align: left;
}
table.gui_generator_smilies td
{
    text-align: center;
    vertical-align: middle;
}
table.gui_generator_smilies img
{
    border: 0;
    margin-left: 3px;
    margin-right: 3px;
}
.gui_generator_edit .gui_generator_file_download,
.gui_generator_edit .gui_generator_image
{
    white-space: nowrap;
    font-size: 10px;
}
.gui_generator_edit .gui_generator_image
{
    width: 250px;
    overflow: hidden;
}
.gui_generator_view_gallery
{
    height: 500px;
}
.gui_generator_view_gallery .gui_generator_image
{
    width: auto;
}
.gui_generator_edit .gui_generator_file_download input,
.gui_generator_edit .gui_generator_image input
{
    font-size: 10px;
}
.gui_generator_edit .gui_generator_multi_entry .gui_generator_file_delete
{
    font-size: 0px;
    color: #fff;
}
.gui_generator_edit .gui_generator_multi_entry .gui_generator_filter a
{
    vertical-align: -2px;
    margin-right: 5px;
}
.gui_generator_file_delete
{
    font-weight: bold;
    color: #888;
    display: inline;
}
.gui_generator_file_delete input
{
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}
.gui_generator_file_download a, span.gui_generator_file_download a
{
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
}
.gui_generator_file_download a img, span.gui_generator_file_download a img
{
    border: 0 none;
    vertical-align: bottom;
}

.gui_generator_image a
{
    display: block;
    text-align: center;
}

.gui_generator_time .gui_generator_radio_true
{
    display: block;
}

.gui_generator_time
{
    white-space: nowrap;
}
.gui_generator_bool input[type="radio"]
{
    margin-right: .25em;
}
.gui_generator_set
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
select.gui_generator_set
{
    margin-left: 0px;
    margin-right: 0px;
}
.gui_generator_set input
{
    margin-right: 5px;
}
.gui_generator_view_list
{
    background-color: #f3f3f3;
    background-image: url('td_bgd.png');
    background-repeat: repeat-x;
    border: 1px solid #c0c0c0;
    text-align: left;
    padding-left: 5px;
}
.gui_generator_view_list li
{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 20px;
    list-style-image: url('array_list_item.gif');
    list-style-position: inside;
}
.gui_generator_view_list li img
{
    border: 0px none;
}
.gui_generator_list_title
{
    font-weight: bold;
}
.gui_generator_list_value
{
    font-style: italic;
}
.gui_generator_view_list .gui_generator_details,
.gui_generator_view_list .gui_generator_delete
{
    visibility: hidden;
}
.gui_generator_view_list :hover .gui_generator_details,
.gui_generator_view_list :hover .gui_generator_delete
{
    visibility: visible;
}
a.gui_generator_int_link
{
    text-decoration: none;
    margin-right: 5px;
    margin-left: 2px;
    float: left;
    white-space: nowrap;
}
.gui_generator_view_seperated a.gui_generator_int_link
{
    float: none;
}
a.gui_generator_ext_link
{
    text-decoration: none;
    white-space: nowrap;
}
a.gui_generator_int_link img
{
    border: 0px none;
}
a.gui_generator_ext_link img
{
    border: 0px none;
}
.gui_generator_layout .gui_generator_layout_preview
{
    display: none;
    border: 1px solid #888;
}
.gui_generator_layout a.gui_generator_layout_select:hover .gui_generator_layout_preview
{
    display: inline;
    position: absolute;
}
.gui_generator_calendar
{
    padding-left: 5px;
    padding-right: 2px;
    cursor: pointer;
}

/* new content */

.gui_generator_footer
{
    margin-bottom: 20px;
    vertical-align: bottom;
}

.gui_generator_footer .gui_generator_mandatory
{
    color: #a55;
}

.gui_generator_view textarea
{
    width: 99%;
}

/* Layout 1 */

.gui_generator_multi_entry *
{
    vertical-align: middle;
}

/* textarea hover effect */
.gui_generator_multi_entry textarea
{
    height: 18px;
    overflow: hidden;
    width: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Layout 4 */
.gui_generator_config
{
    color: #000;
}
.option .gui_generator_config .optionbody,
.gui_generator_config .optionbody
{
    font-size: 13px;
    padding-bottom: 2em;
}
.gui_generator_config .optionitem
{
    display: block;
    padding: 5px;
    text-align: left;
}
.gui_generator_config .optionitem .label
{
    display: block;
    width: 250px;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.gui_generator_edit .gui_generator_buttons
{
    padding-left: 0;
    text-align: center;
}
.gui_generator_buttons
{
    display: block;
    padding-left: 260px;
    text-align: left;
}
.gui_accordion .header
{
    font-size: 16px;
    color: #f0f0f0;
    background: url('highlight2.jpg') repeat-x;
    background-color: #414649;
    font-weight: bold;
    padding: 3px;
}
/* fieldset */
fieldset > .gui_generator_toolbar
{
    padding-right: 2px;
    margin-top: -8px;
}
fieldset
{
    margin-bottom: 2em;
}
fieldset > legend
{
    padding: 0.2em 1.5em 0.2em 1.5em;
    font-weight: bold;
}

fieldset > .gui_generator_toolbar > .gui_generator_settings
{
    margin-bottom: .5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border-top: .5em solid #ddd;
    border-right: .5em solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* IE 7 (fieldset border bug) */
* + html fieldset > .gui_generator_toolbar
{
    margin-top: 0px;
}
.gui_generator_toolbar
{
    text-align: right;
}

.gui_generator_toolbar
{
    margin-left: 40%;
}

.gui_generator_toolbar > div,
.gui_generator_toolbar > form
{
    padding: 5px;
}

/* preview images for layout selector */
.gui_generator_toolbar .gui_select_layout img.gui_layout
{
    border: 1px solid #333;
    height: 18px;
    width: 25px;
    opacity: 0.5;
    vertical-align: middle;
    margin: 0;
}

.gui_generator_toolbar .gui_select_layout img.gui_layout_preview
{
    border: 2px solid #eee;
    position: absolute;
    margin-top: 20px;
    margin-left: -80px;
    display: none;
    z-index: 1;
}

.gui_generator_toolbar .gui_select_layout a:hover img.gui_layout_preview
{
    display: inline;
}

.gui_generator_toolbar > a
{
    display: inline-block;
    padding: 4px;
    opacity: 0.8;
    vertical-align: middle;
    line-height: 17px;
}

.gui_generator_toolbar > a:hover
{
    opacity: 1;
}

fieldset > .gui_generator_toolbar > a,
fieldset > .gui_generator_toolbar > .gui_generator_settings
{
    opacity: .3;
}

fieldset:hover > .gui_generator_toolbar > a,
fieldset:hover > .gui_generator_toolbar > .gui_generator_settings
{
    opacity: 1;
}

/* search and sub-forms */
.gui_generator_new,
.gui_generator_search,
.gui_generator_export
{
    background-color: rgba(255, 255, 255, 0.5);
}

.pd_photo .pd_description
{
    font-size: 8pt;
    display: block;
    width: 75px;
    overflow: hidden;
}

.pd_photo .gui_generator_image > *
{
    display: none;
}

.pd_photo .gui_generator_image a
{
    display: inherit;
}

/* Gallery layout 6 */
.gui_generator_gallery_content
{
    text-align: center;
}

.gui_generator_gallery_content .gui_generator_gallery_entry
{
    padding: 5px;
    display: block;
    width: 200px;
    min-height: 200px;
    height: 100%;
    max-height: 400px;
    background-color: #fff;
    -moz-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    -o-box-shadow: 2px 2px 2px #aaa;
    box-shadow: 0px 0px 2px #aaa;
    border-radius: 2px;
    margin: 5px;
    display: inline-block;
    overflow: auto;
    vertical-align: top;
}

.gui_generator_gallery_content .gui_generator_gallery_title
{
    min-height: 30px;
    text-shadow: 1px 1px 1px #aaa;
}

.gui_generator_gallery_content .gui_generator_gallery_title label
{
    display: block;
    margin-top: 1.25em;
    border: 0px none transparent;
    background: #ddd;
    border-radius: 4px;
    padding: .5em 1em .5em 0;
    text-align: right;
}

.gui_generator_gallery_content .gui_generator_gallery_title label .gui_generator_description
{
    display: inline-block;
    font-size: .5em;
    background: #555;
    color: #fff;
    border-radius: 2px;
    position: relative;
    padding: .2em 1em;
    margin-left: .5em;
    top: -2em;
    float: left;
}

.gui_generator_gallery_entry .gui_generator_image
{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1em;
}

.gui_generator_gallery_entry .gui_generator_dummyimage
{
    background: no-repeat url(gui_gallery_folder.png);
}

.gui_generator_gallery_entry .gui_generator_dummyimage,
.gui_generator_gallery_entry img
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.gui_generator_gallery_entry img:hover
{
    width: 110px;
    height: 110px;
    margin: 5px;
}