#statistics
{
    width: 400px;
    border: 2px solid #4863A0;
}
.empty
{
}
.header
{
    font-size: 18pt;
    font-family: 'Times New Roman', 'Times', serif;
    font-weight: bold;
    color: #EEEEEE;
    background-color: #4863A0;
}
.search_stat1
{
    background-color: #F0F0FA;
}
.search_stat2
{
    background-color: #E8E8FA;
}
.search_label
{
    font-size: 11pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}
.search_hit a
{
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #00c;
}
.search_hit
{
    color: #000;
    font-size: 10px;
    margin: 10px;
    text-align: left;
}
.search_hit_description
{
    font-size: 12px;
}
.search_hit_url
{
    display: block;
    font-size: 10px;
    color: #080;
}
.search_default_visible
{
    display: block;
}
.search_default_visible .search_result_head,
.search_default_visible .search_result_foot
{
    display: none;
}
.search_invisible
{
    display: none;
}
.search_visible
{
    display: block;
}
.search_subject
{
    display: block;
    margin: 10px;
    font-size: 16px;
}
.search_result_head, .search_result_foot
{
    display: block;
    margin: 10px;
    font-size: 13px;
}
.search_result_head a, .search_result_foot a
{
    margin-left: 50px;
    margin-right: 50px;
}
.search_related
{
    margin-left: 20px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: normal;
}
a.search_related
{
    font-weight: bold;
}
.search_toolbar
{
    display: block;
    font-size: 12px;
    color: #000;
    background: #f0f3fa url('search_toolbar_bgd.gif') repeat-x;
    padding: 5px;
    margin: 5px;
}
