#sitemap
{
    padding: 1em;
    /*background: #f0f0f0 url('sitemap_bgd.gif') repeat-x;
    border: 1px solid #88a;*/
}
#sitemap ul
{
    list-style-image: url('../data/bullet.gif');
    text-align: left;
    margin-top: 0;
}
#sitemap li
{
    margin-bottom: .5em;
    filter: grayscale(50%);
    opacity: .7;
    transition: opacity .5s, filter .5s, transform .5s, color .5s;
}
#sitemap li:hover
{
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.01);
}
#sitemap li:hover a
{
    text-shadow: 0 0 4px #aaa;
    color: inherit;
}
#sitemap li a
{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -1em;
}
#sitemap_box
{
    padding-top: 1em;
    padding-left: 20vw;
    overflow: visible;
}

@media only screen and (min-width: 1000px)
{
    #sitemap ul
    {
        column-count: 2;
        max-height: 90%;
    }
}

@media only screen and (min-width: 2000px)
{
    #sitemap ul
    {
        column-count: 3;
        max-height: 90%;
    }
}
