#colorpicker .color_label
{
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}
#colorpicker .description
{
    font-size: 10pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
}
#colorpicker .header
{
    margin-bottom: 5px;
}
#current_colors
{
    width: 100px;
    float: right;
}
#current_colors div
{
    margin-top: 10px;
}
#color_panes
{
}
#color_panes img
{
    border: 2px inset #EEEEEE;
}
#color_display
{
    margin: 5px 0 5px 0;
}

#colorpicker
{
    margin: auto;
    width: 450px;
}
#colormap
{
    margin: auto;
}

#hex_old, #hex_new
{
     color: #000000;
     font-weight:bold;
}
#color_link
{
    margin: 0;
    padding: 20px 0px 20px 20px;
    background: url('../data/bullet.gif') no-repeat 0px 20px;
}
#color_link a
{
    font-weight: bold;
    white-space: nowrap;
}
#color_link a img
{
    border: 0;
    vertical-align: bottom;
}
.box
{
    border: 1px solid #808080;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #f0f0f0;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}
table.colormap
{
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    color: #000;
}
table.colormap td
{
    width: 100px;
}
.floating_menu
{
    position: absolute;
    width: 420px;
}