<USE_STRICT>true</USE_STRICT>
<READONLY>false</READONLY>
<TABLES>
	<test>
		<PRIMARY_KEY>test_id</PRIMARY_KEY>
		<CONTENT>
			<test_id>
				<TYPE>integer</TYPE>
				<LENGTH>5</LENGTH>
				<REQUIRED>AUTO</REQUIRED>
				<DISPLAY>
					<HIDDEN>
						<NEW>true</NEW>
					</HIDDEN>
					<READONLY>true</READONLY>
				</DISPLAY>				
				<DESCRIPTION>Id (Autonumber)</DESCRIPTION>
			</test_id>
			<test_ip>
				<TYPE>ip</TYPE>
				<LENGTH>15</LENGTH>
				<REQUIRED>AUTO</REQUIRED>
				<DISPLAY>
					<HIDDEN>
						<NEW>true</NEW>
					</HIDDEN>
					<READONLY>true</READONLY>
				</DISPLAY>				
				<DESCRIPTION>IP-Adresse</DESCRIPTION>
			</test_ip>
			<test_name>
				<TYPE>string</TYPE>
				<LENGTH>128</LENGTH>
				<REQUIRED>true</REQUIRED>
				<DESCRIPTION>Name</DESCRIPTION>
			</test_name>
			<test_message>
				<TYPE>text</TYPE>
				<LENGTH>3000</LENGTH>
				<REQUIRED>true</REQUIRED>
				<DESCRIPTION>Text</DESCRIPTION>
			</test_message>
			<test_mail>
				<TYPE>mail</TYPE>
				<LENGTH>255</LENGTH>
				<DESCRIPTION>Mail</DESCRIPTION>
			</test_mail>
			<test_image>
				<TYPE>image</TYPE>
				<DESCRIPTION>Grafik</DESCRIPTION>
				<LENGTH>500000</LENGTH>
				<WIDTH>150</WIDTH>
				<HEIGHT>200</HEIGHT>
				<RATIO>true</RATIO>
				<BACKGROUND>
					<0>255</0>
					<1>255</1>
					<2>255</2>
				</BACKGROUND>
			</test_image>
			<test_file>
				<TYPE>file</TYPE>
				<DESCRIPTION>Dateianhang</DESCRIPTION>
				<LENGTH>500000</LENGTH>
			</test_file>
			<test_opinion>
				<TYPE>select</TYPE>
				<LENGTH>1</LENGTH>
				<DEFAULT>
					<0>unentschlossen</0>
					<1>sehr gut</1>
					<2>gut</2>
					<3>befriedigend</3>
					<4>ausreichend</4>
					<5>ungenügend</5>
				</DEFAULT>
				<DESCRIPTION>Bewertung</DESCRIPTION>
			</test_opinion>
			<test_date>
				<TYPE>time</TYPE>
				<REQUIRED>true</REQUIRED>
				<DESCRIPTION>Datum/Zeit</DESCRIPTION>
			</test_date>
			<test_is_registered>
				<TYPE>boolean</TYPE>
				<DEFAULT>false</DEFAULT>
				<DESCRIPTION>ist aktiv?</DESCRIPTION>
			</test_is_registered>
			<test_array>
				<TYPE>array</TYPE>
				<DESCRIPTION>Daten</DESCRIPTION>
			</test_array>
		</CONTENT>
	</test>
</TABLES>
