<PROFILE>
	<AUTO>true</AUTO>
	<BGCOLOR>#F0F0F0</BGCOLOR>
	<PFONT>Arial, Helvetica, sans-serif</PFONT>
	<TIMEFORMAT>0</TIMEFORMAT>
	<USERMODE>true</USERMODE>
	<SKIN>default</SKIN>
	<SMILEYDIR>common_files/smilies/</SMILEYDIR>
	<LOGGING>false</LOGGING>
	<LOG_LENGTH>500</LOG_LENGTH>
	<MAIL>noReply@meineAdresse.tld</MAIL>
	<RSS>
		<FILE>plugins/rss/test.rss</FILE>
		<MAX>5</MAX>
	</RSS>
	<GUESTBOOK>
		<FLOODING>0</FLOODING>
		<ENTPERPAGE>5</ENTPERPAGE>
		<NOTIFICATION>true</NOTIFICATION>
		<MAIL>meinName@meineAdresse.tld</MAIL>
		<USE_DB>false</USE_DB>
	</GUESTBOOK>
	<SPAM>
		<CAPTCHA>true</CAPTCHA>
		<LEVEL>2</LEVEL>
		<FORM_ID>true</FORM_ID>
		<HEADER>true</HEADER>
		<WORD_FILTER>true</WORD_FILTER>
		<WORDS>
			<1>viagra</1>
			<2>levitra</2>
			<3>&lt;a[^&gt;]href[^&gt;]+&gt;</3>
		</WORDS>
		<REG_EXP>true</REG_EXP>
		<LOG>true</LOG>
		<PERMISSION>false</PERMISSION>
	</SPAM>
	<SEARCH>
		<dir>../ding/</dir>
		<recurse>false</recurse>
		<meta>false</meta>
	</SEARCH>
	<USER>
		<ALLOW_CREATE>1</ALLOW_CREATE>
		<PASSWORD>
			<QUALITY>7</QUALITY>
			<COUNT>4</COUNT>
			<TIME>3</TIME>
		</PASSWORD>
	</USER>
	<LOG>
		<USE_MAIL>false</USE_MAIL>
	</LOG>
</PROFILE>
