body
{
    background-color: #F8F8FF;
    color: #000000;
}

a
{
    color: #555;
    text-decoration: none;
}

a:hover
{
    color: #000;
    text-decoration: underline;
    text-shadow: #888 0 0 8px;
}

hr
{
    background-color: #777;
    color: #777;
    height: 2pt;
    width: 98%;
}

input
{
    background-color: #EEEEEE;
    color: #555;
}

textarea
{
    background-color: #EEEEEE;
    color: #555;
}

select
{
    background-color: #EEEEEE;
    color: #555;
}

option
{
    background-color: #EEEEEE;
    color: #555;
}

.embtag_tag_emp
{
    color: #333;
}

h2, .header
{
    color: #f0f0f0;
    font-size: 18pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
}
h1
{
    font-weight: bold;
    font-size: 24pt;
    color: #000000;
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
     font-family: 'Arial', 'Helvetica';
     font-weight: bold;
     font-size: 16pt;
     color: #000;
}

p
{
    font-size: 11pt;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000;
}
.header .applicationBar img
{
    width: 35px;
    height: 35px;
    margin-top: 15px;
}
.header .applicationBar:hover img
{
    padding-left: 7px;
    padding-right: 7px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
}
.header .applicationBar:hover + a img
{
    width: 42px;
    height: 42px;
    margin-top: 8px;
}
.header .applicationBar:hover + a + a img
{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
/* internal CSS classes, do NOT change! */
.yana_button
{
    display: none;
}
