body
{
    background-color: #F8F8FF;
    color: #000;
}

a
{
    color: #191970;
    text-decoration: none;
}

a:hover
{
    color: #4682B4;
    text-decoration: underline
}

hr
{
    background-color: #4682B4;
    color: #4682B4;
    height: 2pt;
    width: 98%
}

.header
{
    font-size: 18pt;
    font-family: 'Times New Roman', 'Times', serif;
    font-weight: bold;
}

/* Sitemap */
#sitemap
{
    background-image: url('sitemap_bgd.gif') !important;
    background-color: #f0f0f8 !important;
    border-color: #4682B4 !important;
}
#sitemap_box
{
    background-color: #f0f0f8 !important;
}

/* Index page */
#index_body
{
    background-color: #eeeff5;
}
#index_body_top
{
    background-image: url('index_box_top.gif');
}
#index_body_top_left
{
    background-image: url('index_box_left_top.gif');
}
#index_body_top_right
{
    background-image: url('index_box_right_top.gif');
}
#index_body_bottom
{
    background-image: url('index_box_bottom.gif');
}
#index_body_bottom_left
{
    background-image: url('index_box_left_bottom.gif');
}
#index_body_bottom_right
{
    background-image: url('index_box_right_bottom.gif');
}
#index_body_left
{
    background-image: url('index_box_left.gif');
}
#index_body_right
{
    background-image: url('index_box_right.gif');
}
#index_header.header
{
    background-image: url('index_title_bgd.gif');
}
#index_header_left
{
    background-image: url('index_title_left.gif');
}
#index_header_right
{
    background-image: url('index_title_right.gif');
}
#index_header_center.index_default_logo
{
    background-image: none;
    padding-left: 10px;
}

/* Configuration pages */
.help
{
    background-image: url("highlight3.jpg") ! important;
}
tr.title td, td.title, .config_head
{
    background-image: url('highlight2.jpg') ! important;
}